.comments-box {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 6px 0 rgb(231, 231, 231);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    height: 80%;
    width: 55%;
    border-radius: 10px;

    p {
        word-wrap: break-word;
    }
}

#comment-something {
    font-family: "DM Sans";
    border: none;
    outline: none;
    resize: none;
    width: 85%;
    font-size: 1rem;
    box-shadow: 0 0 4px 0 rgb(199, 199, 199);
    border-radius: 5px;
}