.content-container {
    padding: 1rem 15rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    min-height: calc(100vh - 10rem);
    max-width: 1536px;
    margin: 0 auto;
}