/* HTML, BODY */ 

html {
    font-family: "DM Sans";
}

body {
    margin: 0;
}

h3, h2, p {
    margin: 0;
}

/* FONTS */

.color-orange {
    color: #d34f0c;
}
.color-gray {
    color: gray;
}

.size-half-rem {
    font-size: 1.5rem;
}

.weight-800 {
    font-weight: 800;
}

/* GENERAL */ 

.logo {
    width: 16px;
    height: 16px;
}

/* DISPLAYS */ 

.flex {
    display: flex;
}
.flex .justify-between {
    justify-content: space-between;
}
.flex .align-center {
    align-items: center;
}
.column {
    flex-direction: column;
}

.gap-10px {
    gap: 10px;
}
.gap-20px {
    gap: 20px;
}

.gap-30px {
    gap: 30px;
}

.border-bottom {
    box-shadow: 0 4px 7px -5px rgb(211, 211, 211);
}