/* HTML, BODY */ 

html {
    font-family: "DM Sans";
}

body {
    margin: 0;
}

h3, h2, p {
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

/* FONTS */

.color-orange {
    color: #d34f0c;
}
.color-gray {
    color: gray;
}

.size-half-rem {
    font-size: 1.5rem;
}

.weight-800 {
    font-weight: 800;
}

/* GENERAL */ 

.logo {
    width: 16px;
    height: 16px;
}

/* DISPLAYS */ 

.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.column {
    flex-direction: column;
}

.gap-10px {
    gap: 10px;
}
.gap-20px {
    gap: 20px;
}

.gap-30px {
    gap: 30px;
}

.border-bottom {
    box-shadow: 0 4px 7px -5px rgb(211, 211, 211);
}

.background-black {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    filter: opacity(50%);
}

.close-btn {
    font-size: 2rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: gray;
}

.orange-btn {
    font-family: "DM Sans";
    background-color: #d34f0c;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
    padding: 1rem;
}